@import '../styles/breakpoints'; 

.signup-button {
  background-color: #000000; 
  color: #ffffff;
  margin-left: 15px;
  border-radius: 20px;
  font-weight: bold;
  text-transform: none;

  &:hover {
    background-color: #333333; 
  }


  @include respond-to(mobile) {
    font-size: 12px;
    padding: 5px 10px;
  }

  @include respond-to(tablet) {
    font-size: 14px;
    padding: 7px 15px;
  }

  @include respond-to(desktop) {
    font-size: 16px;
    padding: 10px 20px;
  }
}